:root {

     --FaD-color: rgb(57, 183, 176);   
    --White: rgb(255, 255, 255);    
    --Black-300-H: rgb(0, 0, 0);  
    --Black-200-P: rgb(74, 74, 72);
    --Black-100-P: rgb(94, 94, 94);
    --Dark-blue: rgb(22, 32, 54);  


    /* Font Weight */
    --Satoshi-Regular: 400;
    --Satoshi-medium: 500

}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: var(--White);
}

h1,
h2,
h3 {
    line-height: 1.3;
    margin: 0;
}


.wrapper {
    max-inline-size: 1200px;
    margin-inline: auto;
} 

/* NavBar */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-nav-links {
    display: flex;
    align-items: center;
}

.logo-wrapper {
  width: 181px;
  height: 64px;
  display: block;
  position: relative;
}


.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  object-position: center;   
  display: block;
  border-radius: inherit;
}


.nav-links-container {
  background-color: white;
  opacity: 1;
}

.nav-links-inner {
  display: flex;
  gap: 24px;
  padding: 0.5rem 1rem;
}

.nav-link p {
  font-weight: var(--Satoshi-Regular);
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

.country {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.country img {
  position: relative;
  width: 20px;
  height: 15px;
}

/* NavBar - Country Drop Down Style */

.select-country {
    position: absolute;
    top: 10px;
    right: 40px;

}
.country-container.active {
  display: flex;
  flex-direction: column;
  top: 14px;
  z-index: 60;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--White);
  border: 2px solid var(--FaD-color);
}


.countries {
  display: flex;
     width: 247px;
  height: 327px;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  padding-inline: 10px;
}

/* Container for the input */
.select-country input {
  display: block;
  padding-inline: 10px;
  width: 207px;
  height: 34px;
  border-radius: 19px;
  border: 3px solid var(--FaD-color);
  font-weight: var(--Satoshi-Regular);
  font-size: 0.9rem;
  background-color: var(--White);  
}


