:root {

     --FaD-color: rgb(57, 144, 145); 
    --White: rgb(255, 255, 255);    
    --Black-300-H: rgb(0, 0, 0);  
    --Black-200-P: rgb(74, 74, 72);
    --Black-100-P: rgb(94, 94, 94);
    /* --Dark-blue: rgb(22, 32, 54);   */
    --Dark-blue: rgb(28, 39, 76);  


    /* Font Weight */
    --Satoshi-Regular: 400;
    --Satoshi-medium: 500

}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
  list-style: none;
}

body {
    font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
    background-color: var(--White);
}

h1,
h2,
h3 {
    line-height: 1.3;
    margin: 0;
}

#root {
    max-inline-size: 1200px;
    margin-inline: auto;
} 



/* NavBar */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-nav-links {
    display: flex;
    align-items: center;
}

.logo-wrapper {
  width: 181px;
  height: 64px;
  display: block;
  position: relative;
}


.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  object-position: center;   
  display: block;
  border-radius: inherit;
}


.nav-links-container {
  background-color: white;
  opacity: 1;
}

.nav-links-inner {
  display: flex;
  gap: 24px;
  padding: 0.5rem 1rem;
}
.nav-link {
  display: flex;
  gap: 20px;
}

.nav-link p {
  font-weight: var(--Satoshi-Regular);
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

.country {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.country img {
  position: relative;
  width: 20px;
  height: 15px;
}

/* NavBar - Country Drop Down Style */
.country-container.active {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  top: 14px;
  z-index: 60;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--White);
  border: 2px solid var(--FaD-color);
}


.countries {
  display: flex;
  width: 247px;
  height: 327px;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  padding-inline: 10px;
}

/* Container for the input */
.select-country input {
  display: block;
  padding-inline: 10px;
  width: 207px;
  height: 34px;
  border-radius: 19px;
  border: 3px solid var(--FaD-color);
  font-weight: var(--Satoshi-Regular);
  font-size: 0.9rem;
  background-color: var(--White);  
}

.mobile-nav-toggle {
  display: none;
}

/* Hero Section */
#hero-section {
margin-block: 10px;
}

/* Find-Clinics */
.find-clinic {
  display: flex;
  gap: 32px;
  max-inline-size: 1120px;
}

.find-clinic img {
  display: block;
  object-position: center center;
  object-fit: cover;
}

.find-clinic-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn a {
  text-decoration: none;
  color: var(--FaD-color);
  font-size: 1rem;
  font-weight: 600;
}


.find-clinic-btn {
  display: flex;
  place-items: center;
  gap: 6px;
  width: fit-content;
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 20px;
  background-color: var(--White);
  border: 1px solid var(--Black-300-H) ;
}


/* Try Symptom Search Clinic */
.symptom-search {
  display: flex;
  margin-top: 40px;
  gap: 80px;

}

.symptom-search-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.symptom-search img {
  width: 50%;
  border-radius: 10px;
}


.symptom-btn {
  width: fit-content;
  padding: 15px;
  font-size: 1rem;
  font-weight: var(--Satoshi-Regular);
  background-color: var(--FaD-color);
  color: var(--White);
  border-radius: 10px;
  border: none;

}


/* Specialty Section */

#specialties {
  margin-top: 30px;
}

.find-healthcare {
  display: flex;
  align-items: center;
  gap: 6px;
}



.layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  padding: 40px;
}

/* SepecialtyCard */

.s-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 9px;
  /* justify-content: end; */
  padding: 20px;
  width: 312px;
  height: fit-content;
  border: 4px solid var(--FaD-color);
  border-radius: 28px;
  text-align: center;


}
.s-container p {
  width: fit-content;
  font-size: 1rem;

}
.s-container img {
  width: 80px;
}

.view-btn {
  display: flex;
 align-items: center;
}

.view-btn a {
  text-decoration: none;
  color: inherit;

}

.country-s {
  color: var(--FaD-color);
}



/* Footer */

.f-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-container img {
  width: 222px;
  height: 200px;
}

.f-container p {
  font-size: 2rem;
  color: rgba(28, 40, 77, .69);
}




/* Text Styles  */
h1 {
  font-size: 2.40rem;
  font-weight: var(--Satoshi-medium);
}

h2 {
  font-size: 2rem;
  font-weight: var(--Satoshi-Regular);
}
h3 {
  font-size:1.5rem ;
  font-weight: var(--Satoshi-Regular);

}

p {
  font-size: 1rem;
  font-weight: var(--Satoshi-Regular);
}



/* utility Styles */
.hero-p {
  font-size: 1.20rem;
  font-weight: var(--Satoshi-Regular);
}





/* Tablet View 1199 - 810*/

@media (min-width: 810px) and  (max-width: 1199px) {

  /* Find Clinics */
  #hero-section {
    padding-inline: 20px;
  }

  .find-clinic img {
    /* width: 349px; */
    height: 415px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2rem;
  }

  .hero-p {
    font-size: 1.1rem;
  }

  

  /* Specialties */

  #specialties {
    padding: 20px;
  }

  .layout-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }


}


/* Phone View 809 */
@media (max-width: 809px) {

/* Disable nav links visiblity */

  .nav-links-container{
    display: none;
  }

  .nav-links-inner {
    justify-content: flex-start;
    gap: 10px;
  }
  
  .nav-link {
    display: grid;
    gap: 5px;
  }
  .nav-links-container.active  {
    display: block;
    position: absolute;
    top: 4rem;
    /* left: 2rem; */
    border-bottom: 1px solid var(--FaD-color);
    width: 100%;
    z-index: 5;
    padding-inline: 20px;
    padding-block-end: 5px;
  }
  
  .container-nav {
    justify-content: flex-start;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 1.1rem;
    right: 1rem;
    width: 2em;
    border: 0;
    padding: 0.5em;
    background: transparent;
    background-image: url('./assets/list.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle.active {
    background-image: url('./assets/x.svg');
  }


  #hero-section {
    padding-inline: 40px;
  }
  .find-clinic {
    flex-direction: column-reverse;
  }

  .symptom-search {
    flex-direction: column;
    gap: 30px;
  }

  .symptom-search img {
    width: 350px;
    height: 219px;
  }
    h1 {
    font-size: 2rem;
  }

  .hero-p {
    font-size: 1.1rem;
  }

    /* Specialties */

  #specialties {
    padding: 20px;
  }

  .layout-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }


}


